@using System.Activities.Statements
@model PimSuite.Models.Users
@{
    ViewBag.Title = "Sign in to start your session";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PimSuite | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_CssComponents")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="login-box">
        <div class="login-logo">
            @Html.RouteLink("PimSuite", new {action = "Index", controller = "Dashboard"})
        </div>
        @if (ViewBag.ErrorMessage != ""){
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            @ViewBag.ErrorMessage
        </div>
        }

        <div class="login-box-body">
            <p class="login-box-msg">@ViewBag.Title</p>

            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

        </div>
        <!-- /.login-box-body -->
    </div>
    @Html.Partial("_JsComponents")
</body>
</html>